* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 100%;
    height: 10%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.colors-container {
    width: 100%;
    height: 90%;
    background-color: crimson;
}

.select {
    width: 10%;
    height: 5%;
}