* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.select, nav select {
    width: 20vw;
    height: 2.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav select {
    border-radius: 5px;
    background-color: black;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
}

nav option {
    width: 20vw;
    height: 2.4vw;
}

.colors-container {
    width: 100%;
    height: 94%;
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
}

.colors-container div {
    width: 20%;
    height: 25%;
    background-color: blue;
}