* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-size: large;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    position: relative;
}

.go-back {
    text-decoration: none;
    color: black;
}

nav select {
    width: 20vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
}

nav select:focus{
    background-color: white;
    color: black;
}

.sound-on {
    cursor: pointer;
}

.colors-container {
    width: 100%;
    height: 92%;
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
}

.colors-container div {
    width: 20%;
    height: 25%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0px 0.5vw 0.2vw 0px;
    color: white;
}

.chinese-div14 {
    color: black;
}   