* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

nav {
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.colors-container {
    width: 100%;
    height: 94%;
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
}

.colors-container div {
    width: 20%;
    height: 25%;
    background-color: blue;
    border: 1px solid;
}

.select, nav select {
    width: 18vw;
    height: 2.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

nav select {
    border-radius: 5px;
    background-color: black;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}

.color-div {
    background-color: aquamarine;
    width: ;
}