* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-size: large;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
  position: relative;
}

.go-back {
  text-decoration: none;
  color: black;
}

nav select {
  min-width: 30vw;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 4px;
  text-align: center;
  font-size: 1.3vw;
  letter-spacing: 0.8px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 1s ease;
}

nav select:focus {
  background-color: white;
  color: black;
}

.sound-on {
  cursor: pointer;
}

.sound-on,
.go-back {
  font-size: 0.9em;
}

.colors-container {
  width: 100%;
  height: 92%;
  background-color: crimson;
  display: flex;
  flex-wrap: wrap;
}

.colors-container div {
  width: 20%;
  height: 25%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0px 0.5vw 0.2vw 0px;
  color: white;
  position: relative;
  font-size: 1vw;
  cursor: pointer;
}

.copy {
  font-size: 2vw;
  padding: 0.3em 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  position: absolute;
  top: 40%;
  right: 25%;
  border-radius: 0.4em;
  border: 0.1px solid rgb(213, 213, 213) !important;
  color: rgb(237, 237, 237);
  opacity: 0;
  transition: opacity 0.3s ease;
  background: transparent;
}

.color-div:hover > .copy {
  opacity: 1;
}

.chinese-div14 {
  color: black !important;
}

@media (min-width: 2560px) and (max-width: 2560px) {
  nav select {
    max-width: 50vw;
    height: 80px;
    font-size: 35px;
    border-radius: 10px;
  }
    .sound-on,
    .go-back {
      font-size: 1.8em;
    }

}

@media (min-width: 1440px) and (min-width: 1440px) {
  nav select{
    height: 40px;
  }
}

@media (max-width: 768px) {
  .colors-container div {
    font-size: 0vw !important;
  }
}

  @media (max-width: 425px) {
    .sound-on,
    .go-back {
      font-size: 0.6em;
    }

    nav select {
      max-width: 50vw !important;
      height: 30px;
      font-size: 9px;
    }
  }
