* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgb(60,64,198);
    background-image: url("../Assets/Images/stars.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row1, .row2{
    height: 35vh;
    width: 80vw;
    background: transparent;
    border: none;
}

.row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7vh;
}

.row2 {
    display: flex;
    justify-content: space-between;
}

.plt-box {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
}

.plt-box span {
    
    color: black;
}

.color-box-container {
    width: 100%;
    height: 85%;
    /* background-color: blue; */
    /* margin-bottom: 5%; */
    display: flex;
    flex-wrap: wrap;
}

.color-box, .color-box1, .color-box5, .color-box16, .color-box20 {
    /* background-color: pink; */
    width: 20%;
    height: 25%;
    border: 1px solid;
    border: none;
}

.color-box1{
    border-radius: 5px 0px 0px 0px;
}

.color-box5{
    border-radius: 0px 5px 0px 0px;
}

.color-box16{
    border-radius: 0px 0px 0px 5px;
}

.color-box20{
    border-radius: 0px 0px 5px 0px;
}



.country-code {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 10%;
    list-style-type: none;
}

.country-code span {
    list-style-type: none;
}